data/export/*csv
data/processed/*csv
sql_dump_import_and_modification/sql_dump
data/processed.zip
data/processed/*.zip
RecSys/pipeline/splits/*
RecSys/pipeline/models/*
RecSys/pipeline/*.csv
RecSys/second_dataset/*.csv
RecSys/second_dataset/generated_splits_instacart/*.csv
RecSys/second_dataset/models_instacart/*


DataAnalysis/second_dataset

